body {
    font-family:'Roboto', sans-serif;
}

h1 {
    font-size: 30px;
    color: rgb(112, 77, 151);
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
    margin-bottom: 15px;
  }

.create {
    background-color:#f1eef7;
    box-shadow: 0 4px 8px 0 rgba(120, 111, 166,1.0); 
    border-radius: 10px;
}

.opt {
  font-weight: normal;
}

h3 {
    color: grey;
    font-weight: bolder;
}

#sendbtn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px;
	color: white;
	background-color: rgba(120, 111, 166,1.0);
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	border-radius: 10px;
    width: 80px;
    height: 40px;
    margin-bottom: 20px;
  }
  #sendbtn:hover {
	opacity: 0.7;
  }

#opt {
  font-weight: normal;
}    

#code, #name, #type,#inst, #time {
  font-weight: bold;
}





