body {
	margin:0;
	color:grey;
	background:#c8c8c8;
	font:600 16px/18px 'Roboto', sans-serif;	
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap {
	width:100%;
	margin:auto;
	max-width:580px;
	min-height:600px;
	position:relative;
	background:url(hlogo.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(120, 111, 166,1.0),0 17px 50px 0 rgba(120, 111, 166,1.0);
}

.login-html {
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:#efe9f8; /* rgba(40,57,101,.9) */
}

.login-html .secretary-htm,
.login-html .instructor-htm,
.login-html .student-htm {
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .6s linear;
}

.login-html .secretary,
.login-html .instructor,
.login-html .student,
.login-form .group .check {
	display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
	text-transform:uppercase;
}

.login-html .tab {
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.login-html .secretary:checked + .tab,
.login-html .instructor:checked + .tab,
.login-html .student:checked + .tab {
	color: rgb(0, 0, 0); /* #fff */
	border-color:rgba(120, 111, 166,1.0);
}

.login-form {
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}

.login-form .group {
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:grey;
	display:block;
}
.login-form .group .button{
	color: white;
}
.login-form .group .input,
.login-form .group .button {
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:#fff;
}

.login-form .group input[data-type="password"] {
	text-security:circle;
	-webkit-text-security:circle;
}

.login-form .group .label {
	color:rgba(0,0,0);
	font-size:12px;
}

.login-form .group .button {
	background:rgba(120, 111, 166,1.0);
}
.login-form .group .button:hover {
    background-color: #e6d7ff;
}

.login-form .group label .icon {
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
	content:'';
	width:10px;
	height:2px;
	background:rgba(120, 111, 166,1.0);
	position:absolute;
	transition:all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}

.login-form .group label .icon:after {
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}

.login-form .group .check:checked + label {
	color:rgba(120, 111, 166,1.0);
}

.login-form .group .check:checked + label .icon {
	background:#fff;
}

.login-form .group .check:checked + label .icon:before {
	transform:scale(1) rotate(360deg);
}

.login-form .group .check:checked + label .icon:after {
	transform:scale(1) rotate(-360deg);
}

.login-html .secretary:checked + .tab + .instructor + .tab + .student + .tab + .login-form .secretary-htm {
	transform:rotate(0);
}

.login-html .instructor:checked + .tab + .student + .tab +.login-form .instructor-htm {
	transform:rotate(0);
}

.login-html .student:checked + .tab + .login-form .student-htm {
	transform:rotate(0);
}

.hr {
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(120, 111, 166,1.0);
}

.foot-lnk {
	text-align:center;
}
