<<<<<<< HEAD
body{
    background-color: lightgray;
}

.content{
    list-style-type: none;
    height: 250px;
    width: 500px;
    max-width: 500px;
    position: absolute;
}

.flex-container{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    height: 250px;
    width: 500px;
    border: 5px solid black;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    vertical-align: middle;
    
}

.btn {
    background-color: magenta;
||||||| aced33a
.btn {
    background-color: magenta;
=======
.lbtn {
    background-color: rgb(35, 214, 238);;
>>>>>>> 8eb89167839ac140dda680a491d7dec90a446ef8
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 10px;
<<<<<<< HEAD

}

.socialmedia-flex{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }  
||||||| aced33a

}
=======
}
>>>>>>> 8eb89167839ac140dda680a491d7dec90a446ef8
