.header{grid-area: header; }
.content-grid-container{
    display: grid;
    grid-template-columns:  auto auto;
    grid-gap: 10px;
    padding: 10px;
    margin: 5px 0px;
}

.content-grid-item{
    background-color:rgb(238, 185, 150);
    text-align: center;
}

.content-logo{
    width: 50px;
    height: 50px;
}

.content-title{
    float: right;
    color: white;
}

