.flex-option-container{
    display: flex; 
    flex-direction: row;
    list-style-type: none;
    align-items: baseline;

}

.flex-option-item{
    text-align: center;
    padding: 10px;
    align-content: center;
    margin: 5px;
}

.btn {
    background-color: rgb(238, 185, 150);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  
.btn:hover {
    background-color: rgb(231, 159, 110);
  }


.instructor-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.instructor-table th,td{
    text-align: center;
    padding: 10px;
}

.instructor-table tr:nth-child(even){
    background-color: rgb(238, 185, 150);
}

.instructor-table tr{
    border: 1px solid lightgrey;
}


